<div class="bigpicture-title" *ngIf="table.bigPicture">{{ table.bigPicture }}</div>
<div class="state-title">{{ currentStateString() }}</div>
<div class="player-name" *ngIf="canShowLens()">Current Lens: {{ currentLens.name }}</div>
<div class="player-name" *ngIf="canShowLegacyPlayer()">Legacy Player: {{ previousLens.name }}</div>
<div class="player-name" *ngIf="canShowCurrentPlayer()">Current Player: {{ currentPlayer.name }}</div>

<ul>
  <li *ngFor="let focus of table.focai.focai">
    <span class="focus-title">{{ focus }}</span>
  </li>
</ul>

<ul>
  <li *ngIf="table.palette.yes.length > 0">
    <span class="palette-title">Yes</span>
    <ul>
      <li *ngFor="let yes of table.palette.yes">
        <span>{{ yes }}</span>
      </li>
    </ul>
  </li>
  <li *ngIf="table.palette.no.length > 0">
    <span class="palette-title">No</span>
    <ul>
      <li *ngFor="let no of table.palette.no">
        <span>{{ no }}</span>
      </li>
    </ul>
  </li>
</ul>

<ul>
  <li *ngFor="let period of table.periods" class="period" [ngClass]="{ 'period-light': period.light, 'period-dark': !period.light }">
    <span class="period-title">{{ period.title }}</span>
    <button
    class="button-add period-add"
    *ngIf="canShowAddPeriodEventSceneButton()"
    (click)="addCard('period', period)"
    >Add Period</button>
    <ul>
      <li *ngIf="canShowAddPeriodEventSceneButton()">
        <button
        class="button-add event-add"
        *ngIf="canShowAddPeriodEventSceneButton()"
        (click)="addCard('event', period, event)"
        >Add Event</button>
      </li>
      <li *ngFor="let event of period.events" class="event" [ngClass]="{ 'event-light': event.light, 'event-dark': !event.light }">
        <span class="event-title">{{ event.title }}</span>
        <button
        class="button-add event-add"
        *ngIf="canShowAddPeriodEventSceneButton()"
        (click)="addCard('event', period, event)"
        >Add Event</button>
        <ul>
          <li>
            <app-card-scene-button
              [scene]="scene"
              [canShowAddSceneButton]="canShowAddPeriodEventSceneButton()"
            ></app-card-scene-button>
          </li>
          <li *ngFor="let scene of event.scenes">
            <app-card-scene
              [scene]="scene"
            ></app-card-scene>
            <app-card-scene-button
              [scene]="scene"
              [canShowAddSceneButton]="canShowAddPeriodEventSceneButton()"
            ></app-card-scene-button>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<ul>
  <li *ngFor="let legacy of table.legacies">
    <span class="legacy-name">{{ legacy.title }}</span>
    <span class="legacy-lens">{{ legacy.lens.name }}</span>
  </li>
</ul>

<form (ngSubmit)="onSubmit(true)" *ngIf="gameState === GameState.Start">
  <input type="submit" value="Start">
</form>
<form (ngSubmit)="onSubmit(true)" *ngIf="gameState === GameState.SelectLens">
  <input type="submit" value="Select Lens">
</form>
<form (ngSubmit)="onSubmit()" *ngIf="gameState === GameState.DeclareFocus">
  <input [(ngModel)]="textbox" name="textbox" placeholder="Focus">
  <input type="submit" value="Set Focus">
</form>
<form (ngSubmit)="onSubmit(true)" *ngIf="gameState === GameState.AddPeriodEventScene">
  <!-- <input type="submit" value="Skip"> -->
</form>
<form (ngSubmit)="onSubmit()" *ngIf="gameState === GameState.SubmitPeriodEventScene">
  <div class="period">
    <input [(ngModel)]="textbox" name="textbox" placeholder="Period">
  </div>
  <div class="event">
    <input [(ngModel)]="textbox" name="textbox" placeholder="Event">
  </div>
  <div class="scene">
    <input [(ngModel)]="textbox" name="textbox" placeholder="Scene Question">
    <input [(ngModel)]="textbox2" name="textbox" placeholder="Scene Answer">
  </div>
  <input type="submit" value="Add">
</form>
<form (ngSubmit)="onSubmit()" *ngIf="gameState === GameState.ChooseLegacy">
  <input [(ngModel)]="textbox" name="textbox" placeholder="Legacy">
  <input type="submit">
</form>
<form (ngSubmit)="onSubmit(true)" *ngIf="gameState === GameState.ExploreLegacy">
  <!-- <input type="submit" value="Skip"> -->
</form>
<form (ngSubmit)="onSubmit()" *ngIf="gameState === GameState.SubmitLegacy">
  <div class="period">
    <input [(ngModel)]="textbox" name="textbox" placeholder="Period">
  </div>
  <div class="event">
    <input [(ngModel)]="textbox" name="textbox" placeholder="Event">
  </div>
  <div class="scene">
    <input [(ngModel)]="textbox" name="textbox" placeholder="Scene Question">
    <input [(ngModel)]="textbox2" name="textbox" placeholder="Scene Answer">
  </div>
  <input type="submit" value="Add Legacy">
</form>
<div *ngIf="gameState === GameState.Talk">
  <form (ngSubmit)="onSubmit()">
    <input type="submit" value="Next Round">
  </form>
  <form (ngSubmit)="onSubmit(true)" *ngIf="canFinishGame()">
    <input type="submit" value="Finish Game">
  </form>
</div>
<form (ngSubmit)="onSubmit()" *ngIf="gameState === GameState.Finish">
  <input type="submit" value="Next Round">
</form>
