.period.period-light .period-title:after,
.event.event-light .event-title:after,
.scene.scene-light .scene-answer:after {
  content: " (light)";
}
.period.period-dark .period-title:after,
.event.event-dark .event-title:after,
.scene.scene-dark .scene-answer:after {
  content: " (dark)";
}

.period:last-child > .period-add {
  display: none;
}

.card-list-left,
.card-list-right {
  display: flex;
  flex-direction: row;
}
.card-list-left {
  flex-direction: flex-start;
}
.card-list-right {
  flex-direction: flex-end;
}
.card-list-left > li:not(:last-child),
.card-list-right > li:not(:last-child) {
  margin-right: 15px;
}

.card-meta-list,
.card-period-list,
.card-legacy-list {
  display: flex;
  flex-direction: row;
}
.card-meta-list > li,
.card-period-list > li
.card-legacy-list > li {
  flex: none;
}
.card-meta-list > li:not(:last-child),
.card-period-list > li:not(:last-child),
.card-legacy-list > li:not(:last-child) {
  margin-right: 15px;
}

.card-meta-list {
  justify-content: space-between;
}
.card-meta-list > li:first-child {
  justify-self: flex-start;
}

.card-period-list,
.card-legacy-list {
  justify-content: space-between;
}
