<div class="bigpicture-title" *ngIf="table.bigPicture">{{ table.bigPicture }}</div>
<div class="state-title">{{ currentStateString() }}</div>
<div class="player-name" *ngIf="canShowLens()">Current Lens: {{ currentLens.name }}</div>
<div class="player-name" *ngIf="canShowLegacyPlayer()">Legacy Player: {{ previousLens.name }}</div>
<div class="player-name" *ngIf="canShowCurrentPlayer()">Current Player: {{ currentPlayer.name }}</div>

<ul class="card-list card-meta-list">
  <li class="card-list card-list-left">
    <ul class="card-list card-legacy-list">
      <li *ngFor="let legacy of table.legacies">
        <app-card-list
          [type]="'legacy'"
          [title]="legacy.title"
          [body]="legacy.lens.name"
        ></app-card-list>
      </li>
    </ul>
  </li>
  <li class="card-list card-list-right">
    <ul class="card-list card-list-right">
      <li>
        <ul class="card-list card-palette-list">
          <li>
            <app-card-list
              [type]="'yes'"
              [title]="'Palette - Yes'"
              [list]="table.palette.yes"
            ></app-card-list>
          </li>
          <li>
            <app-card-list
              [type]="'no'"
              [title]="'Palette - No'"
              [list]="table.palette.no"
            ></app-card-list>
          </li>
        </ul>
      </li>
      <li>
        <app-card-list
          [type]="'focai'"
          [title]="'Focai'"
          [list]="table.focai.focai"
        ></app-card-list>
      </li>
    </ul>
  </li>
</ul>

<ul class="card-list card-period-list">
  <li *ngFor="let period of table.periods" class="period" [ngClass]="{ 'period-light': period.light, 'period-dark': !period.light }">
    <app-card-period
      [period]="period"
      [canShowAddButton]="canShowAddPeriodEventSceneButton()"
    ></app-card-period>
  </li>
</ul>

<form (ngSubmit)="onSubmit(true)" *ngIf="gameState === GameState.Start">
  <input type="submit" value="Start">
</form>
<form (ngSubmit)="onSubmit(true)" *ngIf="gameState === GameState.SelectLens">
  <input type="submit" value="Select Lens">
</form>
<form (ngSubmit)="onSubmit()" *ngIf="gameState === GameState.DeclareFocus">
  <input [(ngModel)]="textbox" name="textbox" placeholder="Focus">
  <input type="submit" value="Set Focus">
</form>
<form (ngSubmit)="onSubmit(true)" *ngIf="gameState === GameState.AddPeriodEventScene">
  <!-- <input type="submit" value="Skip"> -->
</form>
<form (ngSubmit)="onSubmit()" *ngIf="gameState === GameState.SubmitPeriodEventScene">
  <div class="period">
    <input [(ngModel)]="textbox" name="textbox" placeholder="Period">
  </div>
  <div class="event">
    <input [(ngModel)]="textbox" name="textbox" placeholder="Event">
  </div>
  <div class="scene">
    <input [(ngModel)]="textbox" name="textbox" placeholder="Scene Question">
    <input [(ngModel)]="textbox2" name="textbox" placeholder="Scene Answer">
  </div>
  <input type="submit" value="Add">
</form>
<form (ngSubmit)="onSubmit()" *ngIf="gameState === GameState.ChooseLegacy">
  <input [(ngModel)]="textbox" name="textbox" placeholder="Legacy">
  <input type="submit">
</form>
<form (ngSubmit)="onSubmit(true)" *ngIf="gameState === GameState.ExploreLegacy">
  <!-- <input type="submit" value="Skip"> -->
</form>
<form (ngSubmit)="onSubmit()" *ngIf="gameState === GameState.SubmitLegacy">
  <div class="period">
    <input [(ngModel)]="textbox" name="textbox" placeholder="Period">
  </div>
  <div class="event">
    <input [(ngModel)]="textbox" name="textbox" placeholder="Event">
  </div>
  <div class="scene">
    <input [(ngModel)]="textbox" name="textbox" placeholder="Scene Question">
    <input [(ngModel)]="textbox2" name="textbox" placeholder="Scene Answer">
  </div>
  <input type="submit" value="Add Legacy">
</form>
<div *ngIf="gameState === GameState.Talk">
  <form (ngSubmit)="onSubmit()">
    <input type="submit" value="Next Round">
  </form>
  <form (ngSubmit)="onSubmit(true)" *ngIf="canFinishGame()">
    <input type="submit" value="Finish Game">
  </form>
</div>
<form (ngSubmit)="onSubmit()" *ngIf="gameState === GameState.Finish">
  <input type="submit" value="Next Round">
</form>
