<app-setup>
  
</app-setup>

<app-game>
  
</app-game>
<!--
<ul>
  <li *ngFor="let player of table.players">
    <span class="player-name">{{ player.name }}</span>
  </li>
</ul>

<div class="game-title">{{ table.title }}</div>

<ul>
  <li *ngFor="let focus of table.focai">
    <span class="focus-name">{{ focus.title }}</span>
    <span class="focus-lens">{{ focus.lens.name }}</span>
  </li>
</ul>

<ul>
  <li *ngIf="table.palette.yes.length > 0">
    <span class="palette-title">Yes</span>
    <ul>
      <li *ngFor="let yes of table.palette.yes">
        <span>{{ yes }}</span>
      </li>
    </ul>
  </li>
  <li *ngIf="table.palette.no.length > 0">
    <span class="palette-title">No</span>
    <ul>
      <li *ngFor="let no of table.palette.no">
        <span>{{ no }}</span>
      </li>
    </ul>
  </li>
</ul>

<ul>
  <li *ngFor="let period of table.periods" class="period" [ngClass]="{ 'period-light': period.light, 'period-dark': !period.light }">
    <span class="period-title">{{ period.title }}</span>
    <ul>
      <li *ngFor="let event of period.events" class="event" [ngClass]="{ 'event-light': event.light, 'event-dark': !event.light }">
        <span class="event-title">{{ event.title }}</span>
        <ul>
          <li *ngFor="let scene of event.scenes" class="scene" [ngClass]="{ 'scene-light': scene.light, 'scene-dark': !scene.light }">
            <span class="scene-title">{{ scene.title }}</span>
            <span class="scene-answer">{{ scene.answer }}</span>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<ul>
  <li *ngFor="let legacy of table.legacies">
    <span class="legacy-name">{{ legacy.title }}</span>
    <span class="legacy-lens">{{ legacy.lens.name }}</span>
  </li>
</ul>
-->