.card-scene > .mat-card:first-child {
  color: #fff;
  background: #F57F17;
  border-radius: 2px 2px 0 0;
}
.card-scene > .mat-card:last-child {
  border-radius: 0 0 2px 2px;
  margin-bottom: 15px;
}
