<div class="setup-process">

  <mat-card class="card card-welcome" *ngIf="setupState === SetupState.Welcome">
    <mat-card-header>
      <mat-card-title>Angular Microscope</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="show-portrait" src="assets/images/logo.png">
    <mat-card-content>
      <img class="show-landscape" src="assets/images/logo.png">
      <div>
        <p>
          Welcome! This setup process is designed to help you set up and start playing a game of Microscope in no time.
        </p>
        <p>
          If you have any questions, or comments, or experience any issues, please feel free to drop me a note here.
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="nextStep()" [disabled]="canNotProceed()">NEXT</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card card-players" *ngIf="setupState === SetupState.Players">
    <mat-card-header>
      <mat-card-title>Add Players</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let player of table.players">
           <span>{{ player.name }}</span>
           <button mat-icon-button color="warn" (click)="onDeletePlayer(player)">
              <mat-icon>delete</mat-icon>
           </button>
        </mat-list-item>
      </mat-list>
      <div class="input-field-with-button">
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="data.nextName" placeholder="Player {{ table.players.length + 1 }}">
        </mat-form-field>
        <button mat-button (click)="onSubmitPlayer()" [disabled]="!data.nextName.length">Add Player</button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="nextStep()" [disabled]="canNotProceed()">NEXT</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card card-big-picture" *ngIf="setupState === SetupState.BigPicture">
    <mat-card-header>
      <mat-card-title>Big Picture</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput type="text" [(ngModel)]="data.bigPicture">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="nextStep()" [disabled]="canNotProceed()">NEXT</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card card-bookend-history" *ngIf="setupState === SetupState.BookendHistory">
    <mat-card-header>
      <mat-card-title>Bookend History</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <mat-card class="card card-period" [ngClass]="{ 'light': data.bookends.start.light }">
        <mat-card-header>
          <mat-form-field class="full-width">
            <input matInput type="text" [(ngModel)]="data.bookends.start.title" name="title" placeholder="Start">
          </mat-form-field>
        </mat-card-header>
        <mat-card-content>
          <mat-slide-toggle [(ngModel)]="data.bookends.start.light">Light</mat-slide-toggle>
        </mat-card-content>
      </mat-card>

      <mat-card class="card card-period" [ngClass]="{ 'light': data.bookends.end.light }">
        <mat-card-header>
          <mat-form-field class="full-width">
            <input matInput type="text" [(ngModel)]="data.bookends.end.title" name="title" placeholder="End">
          </mat-form-field>
        </mat-card-header>
        <mat-card-content>
          <mat-slide-toggle [(ngModel)]="data.bookends.end.light">Light</mat-slide-toggle>
        </mat-card-content>
      </mat-card>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="nextStep()" [disabled]="canNotProceed()">NEXT</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card card-palette" *ngIf="setupState === SetupState.Palette">
    <mat-card-header>
      <mat-card-title>Palette</mat-card-title>
      <mat-card-subtitle>Add or Ban Ingredients</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <mat-card class="card card-palette-players">
        <mat-card-content>
          <div class="input-field-with-button">
            <span>
              <span>Current Player - {{ this.data.palette.currentPlayer.name }}</span>
              <span *ngIf="this.data.palette.lastRound">&nbsp;(LAST ROUND)</span>
            </span>
            <button mat-button (click)="onSubmitPaletteSkip()">SKIP</button>
          </div>
        </mat-card-content>
      </mat-card>

      <div class="container-palette-yes-no">

        <mat-card class="card card-palette-yes">
          <mat-card-header>
            <mat-card-title>Palette - Yes</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item *ngFor="let yes of table.palette.yes">
                 <span>{{ yes }}</span>
              </mat-list-item>
            </mat-list>
            <div class="input-field-with-button">
              <mat-form-field>
                <input matInput type="text" [(ngModel)]="data.palette.yes" name="yes">
              </mat-form-field>
              <button mat-button (click)="onSubmitPalette('yes')" [disabled]="!data.palette.yes">ADD</button>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="card card-palette-no">
          <mat-card-header>
            <mat-card-title>Palette - No</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list>
              <mat-list-item *ngFor="let no of table.palette.no">
                 <span>{{ no }}</span>
              </mat-list-item>
            </mat-list>
            <div class="input-field-with-button">
              <mat-form-field>
                <input matInput type="text" [(ngModel)]="data.palette.no" name="no">
              </mat-form-field>
              <button mat-button (click)="onSubmitPalette('no')" [disabled]="!data.palette.no">ADD</button>
            </div>
          </mat-card-content>
        </mat-card>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="nextStep()" [disabled]="canNotProceed()">NEXT</button>
    </mat-card-actions>
  </mat-card>
</div>
