.setup-process {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.setup-process > .mat-card > .mat-card-actions {
  text-align: right;
}

.setup-process > .card-bookend-history .card-period,
.setup-process > .card-palette .card-palette {
  width: auto;
}
.setup-process > .card-bookend-history .card-period .mat-card-content {
  text-align: right;
}

.card-period.mat-card {
  color: #fff;
  background: #FBC02D;
  margin-bottom: 16px;
}
.card-period.mat-card.light {
  background: #FB002D;
}

.card-palette-players,
.card-palette-yes,
.card-palette-no {
  color: #fff;
  background: #FBC02D;
}

.input-field-with-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mat-form-field.full-width {
  width: 100%;
}

.show-portrait,
.show-landscape {
  display: none;
}

@media (orientation: portrait) {
  .show-portrait {
    display: block;
  }

  .setup-process > .card.card-palette > .mat-card-content > .card.card-palette-players,
  .setup-process > .card.card-palette > .mat-card-content   .card.card-palette-yes {
    margin-bottom: 16px;
  }
}

@media (orientation: landscape) {
  .show-landscape {
    display: block;
  }

  .setup-process > .card {
    max-width: 736px;
  }
  .setup-process > .card > .mat-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .setup-process > .card > .mat-card-content > * {
    width: 100%;
    margin-bottom: 0;
  }
  .setup-process > .card > .mat-card-content > *:not(:last-child) {
    margin-right: 16px;
  }

  .setup-process > .card.card-palette > .mat-card-content {
    flex-direction: column;
  }
  .setup-process > .card.card-palette > .mat-card-content > .card.card-palette-players {
    margin-right: 0;
    margin-bottom: 16px;
    max-width: calc(100% - 48px);
  }
  .setup-process > .card.card-palette > .mat-card-content > .container-palette-yes-no {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  .setup-process > .card.card-palette > .mat-card-content > .container-palette-yes-no > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .setup-process > .card.card-palette > .mat-card-content > .container-palette-yes-no > *:not(:last-child) {
    margin-right: 16px;
  }

}
