/* You can add global styles to this file, and also import other style files */

@import url(../node_modules/normalize.css/normalize.css);

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.card,
app-card-event-button,
app-card-scene-button {
  display: block;
  width: 100%;
  max-width: 344px;
}

.card-light .mat-card-avatar {
  background: gray;
}
.card-dark .mat-card-avatar {
  background: black;
}

.card-list {
  list-style: none;
  padding: 0;
}
